<div style="
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('<%= asset_path('wallpaper4.jpg') %>');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;">
</div>
<header class="hero d-flex justify-content-center align-items-center flex-column">
    <p> <br> </p>
    <p> <br> </p>
    <p> <br> </p>
    <p> <br> </p>
    <h1 class="display-4 fw-bold">𝐌𝐔𝐑𝐌𝐔𝐑𝐀</h1>
    <p> <br> </p>
    <h3 class="display-6 fw-bold">𝘗𝘳𝘰𝘣𝘢𝘣𝘭𝘺 𝘵𝘩𝘦 𝘣𝘦𝘴𝘵 𝘵𝘦𝘹𝘵𝘪𝘯𝘨 𝘸𝘦𝘣 𝘢𝘱𝘱 𝘦𝘷𝘦𝘳 𝘤𝘳𝘦𝘢𝘵𝘦𝘥</h3>
    <p> <br> </p>
    <a href="users/new" class="btn btn-dark btn-lg">ᴄʀᴇᴀᴛᴇ ᴀɴ ᴀᴄᴄᴏᴜɴᴛ</a>
</header>