</div>
<header class="hero d-flex justify-content-center align-items-center flex-column">
    <p> <br> </p>
    <p> <br> </p>
    <p> <br> </p>
    <p> <br> </p>
    <p> <br> </p>
    <h1 class="display-4 fw-bold">Chatify</h1>
    <p> <br> </p>
    <h3 class="display-6 fw-bold">Probably the best texting web app</h3>
    <p> <br> </p>
    <a href="users" class="btn btn-primary btn-lg">Create an Account</a>
</header>